.App {
  text-align: center;
}

$primary-color: rgba(122, 30, 198, 255);
$secondary-color: rgba(223, 230, 237, 255);
$menu-active: rgba(114, 103, 244, 255);
$btn-color: rgba(44, 136, 217, 255);

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.logo {
  font-family: "Roboto Mono", monospace;
  font-size: xx-large;
  color: $primary-color;
  padding-left: 5%;
  padding-right: 7%;
}
.topnav {
  background-color: rgb(221, 221, 221);
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(158, 173, 186, 255);
}

.topnav a {
  display: inline;
  float: centre;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: $menu-active;
}

.AppSearch {
  display: flex;
}

.SearchQueryContainer {
  text-align: center;
  padding: 5%;
}

h1 {
  text-align: center;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: $primary-color;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 30%;
  padding: 10px;
  text-align: center;
}

.submit-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-width: 100px;
  background-color: $btn-color;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 16px;
  border: none;
  outline: none;
  width: 10%;
  margin-top: 2%;
  padding: 10px 16px;
}

.submit-btn:hover {
  background-color: $secondary-color;
}
